/* Global Elements */
body {
	font-family: Futura, "Trebuchet MS", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
	background: url('../images/whirlpool.png') repeat;
}
h1 {
	font-size: 64px;
	font-family: 'Playfair Display', serif;
	text-transform: capitalize;
	color: #FFF;
}
h2 {
	font-size: 42px;
}
h3 {
	font-size: 32px;
	font-family: 'Playfair Display', serif;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 22px;
}
h6 {
	font-size: 18px;
}
div.strong-emph {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
}
a {
	text-decoration: none;
}
a.btn {
	max-width: 150px;
	background-color: #E39D23;
	border-radius: 888px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 23px;
	color: #FFFFFF;
	text-transform: capitalize;
	padding: 14px 8px;
	letter-spacing: 0.1px;
	margin: 0 auto;
	display: block;
}
.container {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	box-shadow: 0px 0px 25px rgba(85, 85, 85, 0.28);
}
.image-breaker {
	background-repeat: no-repeat;
	margin: 0 auto;
	width: 100%;
	max-width: 1280px;
	min-width: 300px;
}
.section-content {
	max-width: 894px;
    width: 100%;
	margin: 0 auto;
	padding-top: 75px;
	font-weight: 600;
}
.top-border {
	height: 2px;
	width: 500px;
	margin-bottom: 14px;
}
.no-scroll {
	position: absolute;
	overflow: hidden;
}
.border {
	margin: 0 auto;
	background: rgba(155,155,155,0.2);
	height: 2px;
	width: 100%;
}





/* Hero */
.hero {
	padding: 200px 0 0 0;
	background: url(../images/hero@2x.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 63vh;
	min-height: 550px;
	max-height: 800px;
	position: relative;
}
.hero nav.mobile-nav, .hero .mobile-nav-menu {
	display: none;
}
.hero .mobile-nav-container .mobile-nav-menu ul li a {
	text-shadow: none;
}
.hero .mobile-nav-container .mobile-nav-menu ul li a:after {
	border-bottom: 3px solid #0f5c7a;
}
.hero div.title-content {
	margin-left: 32px;
	width: 505px;
}
.hero #title {
	background: url(../images/title@2x.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 505px;
	height: 77px;
	text-indent: -9999em;
	margin:0;
}
.hero h5 {
	color: #E39D23;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	line-height: 25px;
	margin-top: 7px;
}
.hero .btn:hover {
	background: #088B75;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.hero #menu {
	position: absolute;
	bottom: 0;
	margin: 0;
	width: 100%;
}
.hero #menu nav {
	text-align: center;
}
.hero #menu.fixed-nav {
	background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 888;
	height: 30px;
	box-shadow: 0px 0px 5px rgba(85, 85, 85, 0.88);
}
.hero #menu.fixed-nav nav ul li a {
	color: #6F6F6F;
	text-shadow: none;
}
.hero ul {
	list-style-type: none;
    padding: 0;
}
.hero ul li {
	display: inline-block;
	margin: 0;
}
.hero ul a {
	font-size: 12px;
	font-weight: 600;
	color: #FFF;
	line-height: 18px;
	text-shadow: 0px 0px 5px rgba(85, 85, 85, 0.88);
	text-transform: uppercase;
	margin-left: 75px;
	position: relative;
	letter-spacing: 0.6px;
}
.hero ul li a:hover:after {
	width: 108%;
}
.hero ul li a:after {
	content: '';
	position: absolute;
	top: -4px;
	left: 0;
	width: 0%;
	border-bottom: 3px solid #088B75;
	transition: 0.4s;
}





/* About */
#about {
	background: #FFF;
	position: relative;
	padding-bottom: 45px;
}
#about .section-container {
	position: relative;
	max-width: 908px;
	width: 100%;
	background: url(../images/canadamap@2x.png);
	background-size: 647px 600px;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
}
#about .section-container .top-border {
	height: 8px;
	background-color: #E39D23;
	margin: 0 auto;
	display: block;
}
#about .section-container .about-heading {
	margin: 20px 0 70px 0;
	text-align: center;
}
#about .section-container .about-heading .globe {
	background: url(../images/globe@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 56px;
	width: 50px;
	display: inline-block;
	margin-right: 25px;
}
#about .section-container .about-heading h3 {
	text-transform: capitalize;
	display: inline-block;
	margin: 0;
	position: relative;
	top: -15px;
}
#about .section-container .profile {
	text-align: center;
	max-width: 368px;
    width: 100%;
	color: #4A4A4A;
	display: inline-block;
	vertical-align: top;
}
#about .section-container .profile.april {
	margin-right: 167px;
}
#about .section-container .profile.april .portrait {
	background: url(../images/aprilportrait@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 342px;
	width: 327px;
}
#about .section-container .profile.chloe .portrait {
	background: url(../images/chloeportrait@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 342px;
	width: 327px;
}
#about .section-container .profile h3 {
	text-transform: capitalize;
	margin: 10px 0 0 0;
	letter-spacing: 0.2px;
}
#about .section-container .profile p {
	text-align: justify;
	font-size: 14px;
	margin-top: 15px;
}
#about .section-container .profile.april p a:hover {
	color: #088B75 !important;
}
#about .section-container .profile.chloe p a:hover {
	color: #E39D23 !important;
}
#about .section-container .profile.april .wedding-party .strong-emph {
	color: #088B75;
}
#about .section-container .profile.chloe .wedding-party .strong-emph {
	color: #E39D23;
}
#about .section-container .profile .wedding-party {
	margin-top: 35px;
	text-align: left;
}
#about .section-container .profile .wedding-party .person {
	margin-top: 13px;
	width: 42px;
	max-width: 46px;
	display: inline-block;
}
#about .section-container .profile .wedding-party .person.right {
	margin-left: 15px;
}
#about .section-container .profile .wedding-party .person p {
	font-size: 12px;
	text-transform: capitalize;
	text-align: center;
	margin: 2px 0 0 0;
}
#about .section-container .profile .wedding-party .person.karen .portrait {
	background: url(../images/karenportrait@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 51px;
	width: 42px;
}
#about .section-container .profile .wedding-party .person.jazzin .portrait {
	background: url(../images/jazzinportrait@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 51px;
	width: 42px;
}
#about .section-container .profile .wedding-party .person.purita .portrait {
	background: url(../images/puritaportrait@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 51px;
	width: 42px;
}
#about .section-container .profile .wedding-party .person.romeo .portrait {
	background: url(../images/romeoportrait@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 51px;
	width: 42px;
}
#about .section-container .profile .wedding-party .person.chantee .portrait {
	background: url(../images/chanteeportrait@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 51px;
	width: 42px;
}
#about .section-container .profile .wedding-party .person.luc .portrait {
	background: url(../images/lucportrait@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 51px;
	width: 42px;
}
#about .section-container .profile .wedding-party .person.monica .portrait {
	background: url(../images/monicaportrait@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 51px;
	width: 42px;
}
#about .section-container .profile .wedding-party .person.phil .portrait {
	background: url(../images/philportrait@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 51px;
	width: 42px;
}
#about .section-container .footnote {
	color: #9B9B9B;
	font-size: 10px;
	text-align: left;
}
#about .section-container .footnote .border {
	margin: 60px 0 10px 0;
}
#about .section-container .footnote .legend{
	margin: 0;
}
#about .section-container .footnote .legend li {
	float: left;
	margin-left: 25px;
	vertical-align: middle;
	text-transform: uppercase;
}





/* Image Breaker - Shoes */
.image-breaker.shoes {
	background: url(../images/imgbreaker_shoes@2x.png);
	background-size: cover;
	background-position: center;
	height: 589px;
}





/* Itinerary */
#itinerary {
	background: url(../images/bg_itinerary@2x.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 650px;
	position: relative;
}
#itinerary .section-content {
	text-transform: uppercase;
}
#itinerary .section-content .top-border {
	background: rgba(277,157,35,0.8);
}
#itinerary .section-content h1 {
	margin-bottom: 70px;
}
#itinerary .section-content .timeline {
	width: 107px;
	color: #E39D23;
	display: inline-block;
	font-size: 24px;
	list-style-type: none;
}
#itinerary .section-content .events {
	color: #FFF;
	display: inline-block;
	font-size: 18px;
	list-style-type: none;
	vertical-align: top;
	margin-left: 95px;
}
#itinerary .section-content .events li {
	line-height: 38px;
}





/* Destination */
#destination {
	position: relative;
}
#destination .video-container {
	height: 720px; 
	margin: 0 auto;
}
#destination .video {
	background: url(../images/woomahvenue_small.gif);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 400px;
    max-height: 720px;
	margin: 0 auto;
	text-align: center;
}
#destination .video .video-overlay {
	background: rgba(227,120,32,0.48);
	max-width: 1280px; 
	width: 100%;
	max-height: 720px;
    min-height: 400px;
	margin: 0 auto;
	position: absolute;
	top: 0;
}
#destination .video .top-border {
	background: #FFF;
	margin: 0 auto;
	max-width: 700px;
	width: 100%;
	min-width: 300px;
	box-shadow: 2px 2px 5px rgba(95, 95, 95, 0.88);
}
#destination .video .venue-container {
	width: 700px;
	margin: 0 auto;
	color: #FFF;
}
#destination .video .venue-info {
	position: absolute;
	bottom: 90px;
	text-shadow: 2px 2px 5px rgba(88, 88, 88, 0.88);
	z-index: 2;
}
#destination .video .venue-info h1 {
	margin: 0 0 10px 0;
}
#destination .video .venue-info h5 {
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	margin-top: 10px;
}
#destination .video .venue-info .btn {
	text-shadow: none;
	background: #088B75;
}
#destination .video .venue-info .btn:hover {
	background: #056353;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}





/* Image Breaker - Sunset Dip */
.image-breaker.sunset-dip {
	background: url(../images/imgbreaker_sunsetdip@2x.png);
	background-size: cover;
	background-position: center;
	min-height: 625px;
	margin-top: 5px;
}





/* Image Breaker - Sunset Gaze & Sunset Hands */
.double-column {
	margin: 0 auto;
	padding-top: 5px;
	padding-bottom: 0;
}
.double-column .image-breaker.sunset-gaze {
	background: url(../images/imgbreaker_sunsetgaze@2x.png);
	background-size: cover;
	background-position: center;
	width: 66.5%;
	max-width: 853px;
	min-width: 300px;
	display: inline-block;
	min-height: 508px;
	margin: 0;
}
.double-column .image-breaker.sunset-hands {
	background: url(../images/imgbreaker_sunsethands@2x.png);
	background-size: cover;
	background-position: center;
	width: 33%;
	max-width: 422px;
	min-width: 200px;
	display: inline-block;
	min-height: 508px;
	margin: 0;
}





/* Accomodations */
#accomodations {
	background: #E39D23;
	color: #FFF;
	margin-top: -1px;
	padding-bottom: 88px;
}
#accomodations .section-content {
	padding-top: 35px;
}
#accomodations .section-content .strong-emph {
	font-size: 14px;
	text-transform: none;
}
#accomodations .section-content .top-border {
	background: #FFF;
	margin-top: 15px;
}
#accomodations .section-content h1 {
	margin-bottom: 70px;
}
#accomodations .section-content .travelodge-section {
	margin-bottom: 38px;
}
#accomodations .section-content .travelodge-section .accomodation-overlay {
	background: rgba(0,0,0,.98);
}
#accomodations .section-content .travelodge-section .slideshow {
	width: 505px;
	overflow: hidden;
	border: solid 6px white;
	display: inline-block;
}
#accomodations .section-content .travelodge-section .slideshow-container {
	width: 400%;
	font-size: 0;
	transition: 1s ease;
	height: 300px;
}
#accomodations .section-content .travelodge-section .slideshow-container:hover {
	animation-play-state: paused;
}
#accomodations .section-content .travelodge-section .slideshow-container img {
	width: 505px;
	height: auto;
	font-size: 16px;
	text-align: center;
}
#accomodations .section-content .travelodge-section .slideshow-container.slide {
	animation: slide 12s ease infinite;
}
@keyframes slide {
	0% {
	transform: translateX(0%);
	}

	12.5% {
	transform: translateX(0%);
	}

	25% {
	transform: translateX(-25%);
	}

	37.5% {
	transform: translateX(-25%);
	}

	50% {
	transform: translateX(-50%);
	}

	62.5% {
	transform: translateX(-50%);
	}

	75% {
	transform: translateX(-75%);
	}

	87.5% {
	transform: translateX(-75%);
	}

	99% {
	transform: translateX(-75%);
	}

	100% {
	transform: translateX(0);
	}
}
#accomodations .section-content .travelodge-section .accomodation-content {
	width: 100%;
	margin-top: 8px;
}
#accomodations .section-content .travelodge-section .accomodation-logo {
	background: url(../images/vendor_travelodge@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 170px;
	height: 60px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 28px;
}
#accomodations .section-content .travelodge-section .travelodge-cta {
	display: inline-block;
}
#accomodations .section-content .travelodge-section .travelodge-cta a {
	text-transform: uppercase;
	color: #0f5c7a;
	font-size: 80%;
}
#accomodations .section-content .travelodge-section .travelodge-cta a:hover {
	color: #064f6b;
}
#accomodations .section-content .border {
	margin: 0 auto 88px;
	background: rgba(255, 255, 255, 0.38);
}
#accomodations .section-content .suggestion {
	max-width: 231px;
	width: 100%;
	height: 391px;
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
	margin-left: 95px;
}
#accomodations .section-content .suggestion .city-img {
	height: 210px;
	width: 210px;
	margin: 0 auto 18px;
}
#accomodations .section-content .suggestion.agassiz {
	margin-left: 0;
}
#accomodations .section-content .suggestion.agassiz .city-img {
	background: url(../images/accomodations_agassiz@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#accomodations .section-content .suggestion.harrison .city-img {
	background: url(../images/accomodations_harrison@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#accomodations .section-content .suggestion.chilliwack .city-img {
	background: url(../images/accomodations_chilliwack@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#accomodations .section-content h5 {
	font-weight: 600;
	color: #0f5c7a;
	text-transform: uppercase;
	margin-bottom: 5px;
}
#accomodations .section-content .suggestion h5 span {
	font-size: 13px;
	position: relative;
	bottom: 3px;
}
#accomodations .section-content .drive-time {
	font-weight: 600;
}
#accomodations .section-content p {
	text-align: justify;
	font-weight: 300;
}





/* Registry */
#registry {
	background: url(../images/bg_registry@2x.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 401px;
	position: relative;
	color: #FFF;
}
#registry .image-breaker.child {
	background: url(../images/registry_child@2x.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 320px;
	display: inline-block;
	margin: 0 0 0 58px;
	height: 401px;
}
#registry .registry-content {
	display: inline-block;
    padding-top: 75px;
    padding-left: 75px;
    vertical-align: top;
    max-width: 626px;
    width: 100%;
}
#registry .registry-content .top-border {
	background: rgba(227,157,35,0.8);
}
#registry .registry-content h1 {
	margin-bottom: 40px;
}
#registry .registry-content p {
	font-size: 16px;
	line-height: 25px;
	text-align: justify;
}
#registry .registry-content p a {
	font-weight: 600;
	color: #E39D23;
}
#registry .registry-content p a:hover {
    color: #c78400;
}





/* Details */
#details {
	background: #FFF;
	color: #6F6F6F;
	padding-bottom: 95px;
}
#details .section-content .top-border {
	background: #088B75;
}
#details .section-content h1 {
	color: #4A4A4A;
}
#details .section-content .note-container .note {
	height: 350px;
	min-width: 292.33px;
	width: 32.7%;
	border: 1px solid rgba(155,155,155,0.38);
	padding-top: 50px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 5px;
}
#details .section-content .note-container {
	width: 100%;
	margin-top: 45px;
}
#details .section-content .note-container .note .note-icon {
	vertical-align: top;
	margin: 0 auto 15px;
	height: 82px;
	width: 151px;
}

#details .section-content .note-container .note.dress .note-icon {
	background: url(../images/note_dress@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#details .section-content .note-container .note.rsvp .note-icon {
	background: url(../images/note_rsvp@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#details .section-content .note-container .note.eatdrink .note-icon {
	background: url(../images/note_eatdrink@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#details .section-content .note-container .note.unplugged .note-icon {
	background: url(../images/note_unplugged@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#details .section-content .note-container .note.parking .note-icon {
	background: url(../images/note_parking@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#details .section-content .note-container .note.outdoors .note-icon {
	background: url(../images/note_outdoors@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#details .section-content .note-container h5 {
	color: #088B75;
	text-align: center;
	margin-bottom: 10px;
}
#details .section-content .note-container p {
	text-align: justify;
	font-size: 14px;
	font-weight: 300;
	margin: 0 auto;
	width: 250px;
}
#details .section-content .note-container p span.colorful {
	font-size: 120%;
	font-weight: 600;
	font-style: oblique;
}
#details .section-content .note-container p a {
	color: #E37820;
}
#details .section-content .note-container p a:hover {
	color: #ff9d00;
}





/* Image Breaker - Ring */
.image-breaker.ring {
	background: url(../images/imgbreaker_ring@2x.png);
	background-size: cover;
	background-position: center;
	height: 625px;
}





/* Vendors */
#vendors {
	background: #088B75;
	padding-bottom: 100px;
}
#vendors .section-content .top-border {
	background: #E39D23;
}
#vendors .section-content h1 {
	padding-bottom: 13px;
	margin-bottom: 0;
}
#vendors .section-content .vendor-container {
	margin: 0 auto;
	text-align: center;
}
#vendors .section-content .vendor-container .blk {
	display: inline-block;
	margin-top: 65px;
	height: 100px;
	width: 160px;
}
#vendors .blk-02, #vendors .blk-03, #vendors .blk-04, #vendors .blk-06, #vendors .blk-07, #vendors .blk-08, #vendors .blk-10, #vendors .blk-11, #vendors .blk-12 {
	margin-left: 8%;
}
#vendors .section-content .vendor-container .vendor {
	width: 160px;
	display: inline-block;
}
#vendors .section-content .vendor-container .vendor:hover {
	opacity: 0.65;
}
#vendors .section-content .vendor-container .vendor .logo {
	height: 100px;
	width: 160px;
}
#vendors .section-content .vendor-container .vendor.sweets .logo {
	background: url(../images/vendor_sweetz@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#vendors .section-content .vendor-container .vendor.dakotadeller .logo {
	background: url(../images/vendor_dakotadeller@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#vendors .section-content .vendor-container .vendor.juliejagt .logo {
	background: url(../images/vendor_juliejagt@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#vendors .section-content .vendor-container .vendor.kismet .logo {
	background: url(../images/vendor_kismet@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#vendors .section-content .vendor-container .vendor.cloudnine .logo {
	background: url(../images/vendor_cloudnine@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#vendors .section-content .vendor-container .vendor.mamamartin .logo {
	background: url(../images/vendor_mamamartin@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#vendors .section-content .vendor-container .vendor.udamadea .logo {
	background: url(../images/vendor_udamadea@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#vendors .section-content .vendor-container .vendor.vanfotobus .logo {
	background: url(../images/vendor_vanfotobus@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#vendors .section-content .vendor-container .vendor.ecstatic .logo {
	background: url(../images/vendor_ecstatic@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#vendors .section-content .vendor-container .vendor.americancreeklodge .logo {
	background: url(../images/vendor_americancreeklodge@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
#vendors .section-content .vendor-container .vendor.phoenix .logo {
	background: url(../images/vendor_phoenix@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#vendors .section-content .vendor-container .vendor.wildatheart .logo {
	background: url(../images/vendor_wildatheart@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#vendors .section-content .vendor-container .vendor h6 {
	font-weight: 600;
	color: #E39D23;
	font-size: 14px;
	text-transform: uppercase;
	margin: 15px 0 0 0;
}




/* Image Breaker - Spoon Tree */
.image-breaker.spoon-tree {
	background: url(../images/imgbreaker_spoontree@2x.png);
	background-size: cover;
	background-position: center;
	height: 625px;
}




@media screen and (max-width: 1130px) {
	/* Hero */
	.hero ul a {
		margin-left: 55px;
	}

	/* Registry */
	#registry .image-breaker.child {
		margin: 0 0 0 18px;
	}
	#registry .registry-content {
		padding-left: 55px;
		max-width: 566px;
	}	
}




@media screen and (max-width: 1000px) {
	/* General */
	.section-content, .section-title .top-border {
		max-width: 650px;
		width: 100%;
		min-width: 400px;
	}
	.section-title {
		margin: 0 auto;
		width: 650px;
	}


	/* Hero */
	.hero {
		height: 83vh;
    	min-height: 362px;
    	background: url(../images/hero_mobile@2x.png);
    	background-size: cover;
	    background-repeat: no-repeat;
	    background-position: center bottom;
	    padding: 60px 0 0 0;
	}
	.hero div.title-content {
		margin: 0 auto;
	}
	.hero nav.mobile-nav {
		color: #FFF;
		font-size: 40px;
		left: 0px;
		top: 0px;
		position: fixed;
		height: 50px;
		width: 50px;
		background: #E47921;
		z-index: 8888;
		cursor: pointer;
		display: block;
	}
	.hero nav.mobile-nav i {
		position: absolute;
		top: -8px;
		left: 11px;
		text-align: center;
	}
	.hero nav.mobile-nav i.ion-ios-close-empty {
		font-size: 130%;
	    top: -18px;
	    left: 15px;
	}
	.hero div.mobile-nav-menu {
		background: rgba(228, 121, 33, 0.88);
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		z-index: 8888;
		display: none;
		box-shadow: 0px 0px 18px rgba(93, 93, 93, 0.78);
	}
	.hero .mobile-nav-menu ul {
		margin: 58px auto 0;
		text-align: center;
	}
	.hero .mobile-nav-menu ul li {
		display: block;
		left: 0;
	}
	.hero .mobile-nav-menu ul li a {
		margin-left: 11px;
		font-size: 98%;
		line-height: 3.5;
	}
	#menu {
		display: none !important;
		opacity: 0;
	}


	/* About */
	#about .section-container .profile {
		margin: 0 auto;
	    max-width: 500px;
	    display: block;
	}
	#about .section-container .profile.april .bride.portrait, #about .section-container .profile.chloe .bride.portrait  {
		margin: 0 auto 0 13%;
	}
	#about .section-container .profile.april {
		margin-right: auto;
	}
	#about .section-container .profile.chloe {
		margin-top: 80px;
	}
	#about .section-container .profile .wedding-party {
		margin-top: 0;
	}
	#about .section-container .footnote {
		width: 95%;
	    max-width: 650px;
	    margin: 0 auto;
	}
	#about .section-container .footnote .border {
	    width: 100%;
	    margin: 60px auto 10px;
	}
	#about .section-container .footnote p {
	    width: 100%;
	    text-align: center;
	    margin-bottom: 1.5em;
	    font-size: 110%;
	}
	#about .section-container .footnote .legend {
	    float: none;
	    display: block;
	    margin: 0 auto;
	    width: 100%;
	}


	/* Image Breaker - Shoes */
	.image-breaker.shoes {
		background: url(../images/imgbreaker_shoes_mobile@2x.png);
		background-size: cover;
		background-position: center;
		height: 500px;
	}


	/* Details */
	#details .section-content .note-container {
		margin: 45px auto;
		max-width: 650px;
		width: 100%;
		min-width: 400px;
	}
	#details .section-content .note-container .note {
	    width: 48.7%;
	}


	/* Itinerary */
	#itinerary .section-content .events {
		margin-left: 75px;
	}

	
	/* Image Breaker - Sunset Dip */
	.image-breaker.sunset-dip {
		max-height: 625px;
	    min-height: 380px;
	}


	/* Image Breaker - Sunset Gaze & Sunset Hands */
	.double-column .image-breaker.sunset-gaze {
		background-position: bottom;
		max-height: 508px;
	    min-height: 340px;
		margin: 0;
		width: 66%;
	}
	.double-column .image-breaker.sunset-hands {
		max-height: 508px;
	    min-height: 340px;
	}


	/* Accomodations */
	#accomodations {
		height: auto;
		padding-bottom: 30px;
	}
	#accomodations .section-content .travelodge-section .slideshow {
		width: 650px;
	}
	#accomodations .section-content .travelodge-section .slideshow-container {
		height: 433px;
	}
	#accomodations .section-content .travelodge-section .slideshow-container img {
		width: 650px;
	}
	#accomodations .section-content .suggestion {
		margin: 100px auto !important;
	    max-width: 500px;
	    min-width: 260px;
	    display: block;
	    height: auto;
	}
	#accomodations .section-content .suggestion .city-img {
		width: 300px;
		height: 300px;
	}


	/* Registry */
	#registry {
		height: auto;
	    padding-bottom: 38px;
	}
	#registry .image-breaker.child {
		margin: 0 auto;
		display: block;
		width: 380px;
		position: relative;
    	left: -35px;
	}
	#registry .registry-content {
	    max-width: 650px;
	    width: 100%;
	    min-width: 400px;
	    margin: 0 auto;
	    display: block;
	    padding-left: 0;
	    padding-top: 15px;
	    position: relative;
	}


	/* Vendors */
	#vendors .blk-02, #vendors .blk-03, #vendors .blk-05,  #vendors .blk-06, #vendors .blk-08, #vendors .blk-09, #vendors .blk-11,  #vendors .blk-12 {
		margin-left: 12%;
	}
	#vendors .blk-04, #vendors .blk-07, #vendors .blk-10 {
		margin-left: 0;
	}
	#vendors .section-content .vendor-container{
		max-width: 650px;
		width: 100%;
		min-width: 400px;
	}
}




@media screen and (max-width: 730px) {
	/* About */
	#about .section-container .footnote {
		width: 88%;
		margin: 0 auto;
	}
	#about .section-container .footnote .border {
    	width: 100%;
	}

	/* Accomodations */
	#accomodations .section-content .travelodge-section .slideshow {
		width: 500px;
		margin: 0 auto;
		display: block;
	}
	#accomodations .section-content .travelodge-section .slideshow-container {
		height: auto;
	}
	#accomodations .section-content .travelodge-section .slideshow-container img {
		width: 500px;
	}
	#accomodations .section-content .travelodge-section .accomodation-content {
	    max-width: 500px;
	    margin: 8px auto 0;
	}
}




@media screen and (max-width: 649px) {
	/* General */
	h1 {
		font-size: 44px;
	}
	.section-content, .section-title .top-border {
		max-width: 350px;
		width: 100%;
		min-width: 300px;
	}
	.section-title {
		margin: 0 auto;
		width: 350px;
	}


	/* Hero */
	.hero {
		height: 68vh;
    	min-height: 362px;
    	background: url(../images/hero_mobile@2x.png);
    	background-size: cover;
	    background-repeat: no-repeat;
	    background-position: right bottom;
	    padding: 60px 0 0 0;
	}
	.hero #title {
	    width: 435px;
	    margin: 0 auto;
	}
	.hero h5 {
		font-size: 20px;
	}


	/* About */
	#about .section-container .top-border {
		width: 88%;
	}
	#about .section-container .profile {
		width: 80%;
	}
	#about .section-container .profile.april .bride.portrait, #about .section-container .profile.chloe .bride.portrait {
		margin: 0 auto;
	}
	#about .section-container .profile h3 {
		font-size: 38px;
	}
	#about .section-container .profile div.strong-emph, #about .section-container .profile .wedding-party .person p {
		font-size: 14px;
	}
	#about .section-container .footnote p {
	    display: block;
	    width: 88%;
	    max-width: 430px;
	    margin: 0 auto 1.5em;
	}


	/* Image Breaker - Shoes */
	.image-breaker.shoes {
		height: 400px;
	}


	/* Details */
	#details .section-content .note-container {
		max-width: 350px;
		min-width: 300px;
	}
	#details .section-content .note-container .note {
		width: 100%;
	}


	/* Destination */
	#destination .video .venue-info {
		position: relative;
	    bottom: 0;
	    top: 120px;
	    margin: 0 auto;
	    max-width: 540px;
	    width: 100%;
	    min-width: 300px;
	}
	#destination .video .venue-container {
		max-width: 470px;
		width: 100%;
		min-width: 300px;
	}
	#destination .video .venue-info {
		max-width: 470px;
	}
	#destination .video .top-border {
		width: 98%;
		max-width: 470px;
	}
	#destination .video .venue-info h5 {
		font-size: 16px;
	}


	/* Itinerary */
	#itinerary {
		height: auto;
		padding-bottom: 40px;
	}
	#itinerary .section-content {
		position: relative;
	}
	#itinerary .section-content .timeline {
	    line-height: 3.75;
    	margin-top: -10px;
	}
	#itinerary .section-content .events {
		position: absolute;
	    top: 170px;
	    left: 0;
		line-height: 5;
		margin-left: 0;
	}
	#itinerary .section-content .events li {
		line-height: inherit;
	}


	/* Image Breaker - Sunset Gaze & Sunset Hands */
	.double-column .image-breaker.sunset-gaze {
		width: 100%;
	}
	.double-column .image-breaker.sunset-hands {
		width: 100%;
		max-width: 649px;
		background-position: bottom;
	}


	/* Accomodations */
	#accomodations .section-content .suggestion .city-img {
		width: 250px;
		height: 250px;
	}
	#accomodations .section-content .travelodge-section .slideshow {
		width: 350px;
	}
	#accomodations .section-content .travelodge-section .slideshow-container {
		height: auto;
	}
	#accomodations .section-content .travelodge-section .slideshow-container img {
		width: 350px;
	}
	#accomodations .section-content .travelodge-section .accomodation-content {
	    max-width: 500px;
	    margin: 8px auto 0;
	}
	#accomodations .section-content .travelodge-section .travelodge-cta {
		margin-top: 8px;
	}


	/* Registry */
	#registry {
		padding-top: 38px;
	}
	#registry .image-breaker.child {
		width: 320px;
		height: 320px;
	}
	#registry .registry-content {
		max-width: 350px;
		min-width: 300px;
	}


	/* Image Breaker - Ring */
	.image-breaker.ring {
		background: url(../images/imgbreaker_ring_mobile@2x.png);
		background-size: cover;
		background-position: center;
		height: 325px;
	}


	/* Vendors */
	#vendors .section-content .vendor-container {
		max-width: 350px;
		min-width: 300px;
	}
	#vendors .section-content .vendor-container .blk {
		margin-left: 0 !important;
		width: 300px;
	}


	/* Image Breaker - Spoon Tree */
	.image-breaker.spoon-tree {
		background: url(../images/imgbreaker_spoontree_mobile@2x.png);
		background-size: cover;
		background-position: center;
		height: 350px;
	}
}





@media screen and (max-width: 504px) {
	/* General */
	.container {
		padding: 0;
	}


	/* Hero */
	.hero {
	    padding: 55px 0 0 0;
	}
	.hero div.title-content, .hero #title {
		width: 300px;
	}
	.hero #title {
		height: 50px;
	}
	.hero h5 {
		font-size: 16px;
	    margin-bottom: 15px;
	}


	/* About Us */
	#about .section-container {
	    background-position: 50% 40%;
	}
	#about .section-container .top-border {
		height: 10px;
		margin-bottom: 58px;
	}
	#about .section-container .about-heading {
		display: none;
	}
	#about .section-container .profile.april .bride.portrait, #about .section-container .profile.chloe .bride.portrait {
		margin: 0 auto 0 3%;
		height: 302px;
    	width: 287px;
	}


	/* Details */
	#details {
		padding-bottom: 18px;
	}
	#details .section-content .note-container .note {
		height: auto;
		padding: 50px 0;
	}
	
	
	/* Destination */
	#destination .video, #destination .video .video-overlay {
		min-height: 370px;
	}
	#destination .video .venue-info h1 {
		font-size: 34px;
	}
	#destination .video .top-border {
		width: 88%;
	}
	#destination .video .venue-info h5 {
		width: 75%;
		margin: 0 auto;
	}
	#destination .video .venue-info .btn {
		margin-top: 18px;
	}


	/* Image Breaker - Sunset Dip */
	.image-breaker.sunset-dip {
		background: url(../images/imgbreaker_sunsetdip_mobile@2x.png);
		background-size: cover;
		background-position: right;
		min-height: 380px;
	}


	/* Accomodations */
	#accomodations .section-content .suggestion p {
		font-size: 16px;
	}
	#accomodations .section-content .travelodge-section .slideshow {
		width: 340px;
	}
	#accomodations .section-content .travelodge-section .slideshow-container {
		height: auto;
	}
	#accomodations .section-content .travelodge-section .slideshow-container img {
		width: 340px;
	}


	/* Registry */
	#registry .image-breaker.child {
		left: -5px;
	}
}


@media screen and (max-width: 320px) {
	/* Accomodations */
	#accomodations .section-content .travelodge-section .slideshow {
		width: 280px;
	}
	#accomodations .section-content .travelodge-section .slideshow-container {
		height: auto;
	}
	#accomodations .section-content .travelodge-section .slideshow-container img {
		width: 280px;
	}
}



@media screen and (max-width: 320px) {
	/* General */
	h1 {
		font-size: 40px;
	}
	.section-content, .section-title .top-border {
		width: 90%;
	}
	.section-title {
		margin: 0 auto;
	    max-width: 350px;
	    min-width: 300px;
	    width: 100%;
	}

	
	/* About Us */
	#about .section-container .profile.april .bride.portrait, #about .section-container .profile.chloe .bride.portrait {
		margin: 0 auto 0 0%;
		height: 262px;
    	width: 237px;
	}
	#about .section-container .profile h3 {
		font-size: 32px;
	}


	/* Destination */
	#destination .video .venue-info h1 {
		font-size: 28px;
	}
	#destination .video .venue-info h5 {
		margin: 10px auto 0;
	}
}





/*
==============================================
Fade In
==============================================
*/

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.first {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.second {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay:1.2s;
  animation-delay: 1.2s;
}

.fade-in.third {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}