/* @font-face */
@font-face {
    font-family: 'Brandon Med';
    src: url('type/brandon_med_webfont.eot');
    src: url('type/brandon_med_webfont.eot?#iefix') format('embedded-opentype'),
         url('type/brandon_med-webfont.woff') format('woff'),
         url('type/brandon_med_webfont.ttf') format('truetype'),
         url('type/brandon_med_webfont.svg#brandon_med_webfont') format('svg');
}
@font-face {
    font-family: 'Brandon Bld';
    src: url('type/brandontext-bold-webfont.eot');
    src: url('type/brandontext-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/brandontext-bold-webfont.woff') format('woff'),
         url('type/brandontext-bold-webfont.ttf') format('truetype'),
         url('type/brandontext-bold-webfont.svg#brandontext-bold-webfont') format('svg');
}
@font-face {
    font-family: 'Brandon Blk';
    src: url('type/brandongrotesque-black-webfont.eot');
    src: url('type/brandongrotesque-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/brandongrotesque-black-webfont.woff') format('woff'),
         url('type/brandongrotesque-black-webfont.ttf') format('truetype'),
         url('type/brandongrotesque-black-webfont.svg#brandongrotesque-black-webfont') format('svg');
}




/* Global Elements */
body, input {
	font-family: "Brandon Med", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 1em;
	line-height: 22.5px;
	background: #000;
}
.container {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
	background: #FFF;
}

h1 {
	font-size: 46px;
	font-family: "Brandon Blk", "Brandon Bld", "Brandon Med", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
	font-size: 28px;
	font-family: "Brandon Blk", "Brandon Bld", "Brandon Med", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {
	font-size: 24px;
	font-family: "Brandon Bld", "Brandon Med", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hero .eight {
	background: #CFCFCF;
	margin: 0;
	padding: 0;
	background: url(../images/hero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	max-height: 1000px;
}
.hero .four {
	background: #FFF;
	margin: 0;
	padding: 0;
	height: 100vh;
	max-height: 1000px;
	text-transform: uppercase;
}

.columns {
	border: 2px solid red;
	margin:0;
}


/* Animations */

/*
==============================================
fadeIn
==============================================
*/

.fadeIn{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(1.1);	
	}
	80% {
		transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}		
}
